@charset "utf-8";

body {
	--pdf-height: 800px;
	--s1-gutter: min(8vw, 100px);
}

.s1 {
	width: 100% !important;
}

.pdf-nav {
	height: var(--pdf-height);
	max-width: 250px !important;
	margin-right: calc(var(--s1-gutter)/2);
	border-radius: 0px 15px 15px 0px;
	border-left: none;
	filter: drop-shadow(0 0 5px var(--color-shadow));
	background-color: var(--color-font-white);
}

.scroll-spy-main {
	margin: auto;
	height: 100% !important;
	padding: 0px !important;
	border: none !important;
}

.scroll-spy-main button{
	height: 140px;
	width: auto;
	padding: 10px 0px 0px 20px;
}

.scroll-spy-main button h3{
	font-size: 40px;
}

.scroll-spy-main button p{
	font-size: 20px;
}

.pdf-viewport {
	height: var(--pdf-height);
	margin-left: calc(var(--s1-gutter)/2);
	border-radius: 15px 0px 0px 15px;
	border-right: none;
	overflow: hidden;
	filter: drop-shadow(0 0 5px var(--color-shadow));
	background-color: var(--color-font-white);
}