@charset "utf-8";
header {
	overflow: hidden;
}

header img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.scroll-spy-main {
	overflow: hidden;
}

.gallery-row, .gallery-row-staggered {
	height: 20vh;
	max-height: 350px;
	width: 100%;
	overflow: hidden;
	padding: 20px 0px;
	flex-wrap: nowrap !important;
	filter: drop-shadow( 0 0 5px var(--color-shadow));
}

.gallery-row-staggered {
	width: calc(100% + 150px);
	position: relative;
	left: -150px;
}

.gallery-slide, .gallery-slide-staggered {
	--slide-width: 40vw;
	--slide-margin: 2vw;
	height: 100%;
	width: var(--slide-width) !important;
	max-width: calc(100vh / 3.5) !important;
	margin: var(--slide-margin);
	overflow: hidden;
	border-radius: 15px;
}

.gallery-slide img, .gallery-slide-staggered img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#slide-modal {
	z-index: 1500;
}

.modal-dialog {
	max-width: 80vw !important;
}

.modal-body {
	height: 60vh;
	margin: 50px;
	border-radius: 15px;
	overflow: hidden;
	padding: 0px !important;
}

.modal-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}